
h1{
    color:aqua;
    float: right;

}

.fa-circle-h{
    font-size: 100px;
    color: royalblue;
    text-align: center;
    
}

footer{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    color: darkblue;
}
.fa-square-whatsapp{
    font-size: 40px;
    color: green;
    text-align: center;
}

.fa-square-x-twitter{
    font-size:40px;
    color: black;
    text-align: center;
}
.fa-facebook{
    font-size: 40px;
    color: darkblue;
    text-align: center;
}
.fa-square-instagram{
    font-size: 40px;
    color: darkviolet;
    text-align: center;
}
.fa-linkedin{
    font-size: 40px;
    color: darkslateblue;
    text-align: center;
    
}

.btn{
    background-color: green;
    color: goldenrod;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body{
    /* background: linear-gradient(to bottom,skyblue, teal); */
    /* background-image:url(./Images/royce-fonseca-Zch-aimk7JE-unsplash.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: black;
}

#p1{
    font-size: 20px;
   font-style: italic;
    color: black;
}

.columns{
    column-count: 4;
    column-width: 250px;
    column-rule: 2.5px solid black;
    color: rgba(0, 0, 7, 0.493);
    column-gap: 5px;
}

section p {
    background-color:honeydew;

}