
h1{
    color:aqua;
    float: right;

}

.fa-circle-h{
    font-size: 100px;
    color: royalblue;
    text-align: center;
    
}

footer{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    color: darkblue;
}
.fa-square-whatsapp{
    font-size: 100px;
    color: green;
    text-align: center;
}
